.container {
  border: 1px solid white;
  border-radius: 15px;
  margin: auto;
  height: 300px;
  font-family: "Poppins";
}
.next-1 {
  width: 4rem;
  background-color: #2c3779;
  color: antiquewhite;
  border-color: #2c3779;
  border-radius: 20px;
  margin-top: 2rem;
  margin-left: 65rem;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 80px;
  padding-bottom: 10px;
}
